<%= form_for @word, class: 'form-horizontal', url: words_path, html: { multipart: true } do |f| %>
  <% if @word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@word.errors.count, "error") %> prohibited this word from being saved:</h2>

      <ul>
      <% @word.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'layouts/draw' %>
  <div class="field">
    <%= f.hidden_field :img %>
  </div>
  <div class="form-group">
    <%= f.label :word, class: 'control-label' %><br>
    <%= f.text_field :word, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description, class: 'control-label' %><br>
    <%= f.text_field :desc, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit :id => "click_save_img", class: 'btn btn-default' %>
  </div>  
<% end %>
