<p id="notice"><%= notice %></p>
<h1>Listing Words:</h1>
<% if can? :create, @word %>
  <%= link_to t('words.new'), new_word_path, class: 'btn btn-primary btn-sm' %>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th class="col-md-2"><%= t('words.img-association') %></th>
      <th class="col-md-4"><%= t('words.word') %></th>
      <th class="col-md-4"><%= t('words.desc') %> <%= image_tag('eye.png', id: 'eye', size: '16') %> </th>
      <th class="col-md-2"></th>
    </tr>
  </thead>

  <tbody>
    <% @words.each do |word| %>
      <tr>
        <td><%= image_tag word.img.url(:medium), size: '325x200' %></td>
        <td><%= word.word %></td>
        <td class='Description'><%= word.desc %></td>
        <td>
<% if can? :update, word %>
        <%= link_to edit_word_path(word)  do %>
            <span class="glyphicon glyphicon-pencil"></span>
            <%= t('control.edit') %>
        <% end %>
<% end %>
<% if can? :destroy, word %>
        <br>
        <%= link_to word, method: :delete, data: { confirm: t('control.sure') }  do %>
            <span class="glyphicon glyphicon-trash"></span>
            <%= t('control.destroy') %>
        <% end %>
<% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if can? :create, @word %>
  <%= link_to t('words.new'), new_word_path, class: 'btn btn-primary btn-sm' %>
<% end %>
<br>
<%= will_paginate @words, renderer: BootstrapPagination::Rails %>
<br>

<script>
//View Description
$('body').on('click','#eye', function(){
    $(".Description").toggle(10);
});
</script>
