<p id="notice"><%= notice %></p>

<p>
  <strong>Img:</strong>
  <%= @word.img %>
</p>

<p>
  <strong>Word:</strong>
  <%= @word.word %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @word.desc %>
</p>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
