<div class="navbar navbar-default navbar-fixed-top red">
  <div class="container">
    <div class="navbar-header">
      <a href="../" class="navbar-brand"><span class="glyphicon glyphicon-book"></span> <%= t('menu.name') %></a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
        	<%= link_to t('menu.about'), about_path %>
        </li>
        <li>
          <%= link_to t('menu.help'), about_path %>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if I18n.locale == I18n.default_locale %>
            <%= link_to "En", :locale=>'en'%>
          <% else %>
            <%= link_to "Ru", :locale=>'ru'%>
          <%end%>
        </li>
        <li>
          <% if user_signed_in? %>
              <%= link_to t('menu.logout'), destroy_user_session_path, :method => :delete %>
          <% else %>
              <%= link_to t('menu.login'), new_user_session_path %>
        </li>
        <li>
              <%= link_to t('menu.reg'), new_user_registration_path %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>